:root {
    --bg-color: #ECF2FF;
    --text-color: #744a53;
    --title-color: #744a53;
}

body {
  background: var(--bg--color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--text-color);
}

section {
    width: 90%;
    margin: 0 auto;
}

h1,
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
}

h1 {
    color: var(--title-color);
    font-size: 3em;
    text-align: center;
}

html {
    box-sizing: border-box;
    background: url('cake.png') fixed;
    background-size: cover;
}