.box {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 55px;
    height: 55px;
    background: yellow;
    border: 1px solid black;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes transform {
    100% {transform: ScaleX(0.5);}
}